html,
body {
  height: 100%;
}

body {
  background-color: #d8d8d8;
  font-family: "Belgrano", serif;
  text-align: center;
}

/* * {
  margin: 0;
  padding: 0;
  border: 0;
} */

img:hover {
  opacity: 0.8;
}

nav {
  background-color: #2c2c2c;
}

main {
  background-color: #d8d8d8;
  margin-top: 30px;
}

p {
  font-size: 0.8rem;
}
footer p {
  font-size: 0.9rem;
}

.line {
  width: 0px;
  height: 30px;
  /* margin-top: 10px; */
  border: 0.5px solid rgb(130, 69, 187);
}

div a {
  text-decoration: none;
  color: rgb(160, 144, 144);
}

div a:hover {
  text-decoration: none;
}

.browse-button {
  position: absolute;
}
.table td:last-of-type {
  text-align: right;
}

.table tr:hover {
  background-color: white;
  color: black;
}

.nav-footer-wrapper {
  background-color: #262626;
}

#text-div {
  position: absolute;
  bottom: 30px;
  left: 80px;
}

#carouselExampleIndicators {
  margin-top: 100px;
}
